@page "/add"
@page "/edit/{Slug}"

@using EditorNG.Models;
@using System.Web
@using Microsoft.AspNetCore.Authorization
@using System.Text.RegularExpressions

@inject BlogClient client;

@code{
    [Parameter]
    public string Slug { get; set; }
}

@attribute [Authorize]

<h1>@Slug</h1>

@if (post != null)
{
    <div class="row">
        <div class="col-lg-12">
        <br />
            <input name="title" class="form-control" type="text" placeholder="Title?" id="title" @bind="@post.Title"/>
            <textarea id="postcontent" name="content" class="form-control" data-provide="markdown" data-iconlibrary="fa" rows="10" @bind="@markdown"></textarea>
            <input name="preview" class="form-control" type="text" placeholder="Preview" id="preview" @bind="@post.Preview" />
            <input name="tags" class="form-control" type="text" placeholder="Tags" id="tags" @bind="@post.Tags" />
            <input name="imageUrl" class="form-control" type="text" placeholder="https://blogimage" @bind="@post.ImageUrl"/>
            <hr />
            <button @onclick="@Save" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-cloud-upload"></span>Publish</button>
        </div>
    </div>
}
else
{
    <p>Loading ...</p>
}


@code{
    private PostMetadata post;

    private string markdown;

    protected override async Task OnInitializedAsync()
    {
        if (Slug != null)
        {
            markdown =  HttpUtility.HtmlDecode(await client.GetBlogPostMarkdown(Slug));
            post = await client.GetBlogPost(Slug); 
        }
        else
        {
            markdown = string.Empty;
            post = new PostMetadata();
        }
    }

    private async Task Save()
    {
        Console.WriteLine("Saving");

        if (Slug == null)
        {
            string slug = createSlug();

            post.PartitionKey = slug;
            post.RowKey = slug;
        }

        await client.SaveBlogPost(post, markdown);
    }

    private string createSlug()
    {
        string slug = post.Title.Replace(' ', '-');
        slug = System.Web.HttpUtility.UrlEncode(slug);

        return slug;
    }
}